@import url('https://fonts.cdnfonts.com/css/poppins');
*,
*:before,
*:after {
    box-sizing: border-box;
}
body{
    /* background-color: #C9C0FF; */
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    text-transform: capitalize;
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0;
}

h2,h3,h4{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 5px;
}
.welcome-text{
    margin: 5rem 3rem 2rem 3rem;
}
.how-to-play{
    position: fixed;
    bottom: 0;
    margin: 0;
    background-color: #EFEFEF;
    border-radius: 40px 40px 0px 0px ;
    padding: 5vw 15vw;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
}
#btn-box{
    text-align: center;
    margin-top: 7vw;
    height: 50%;

}
button a{
    text-decoration: none;
}
.continue{
    background-color: #8774FF;
    padding: 2px 25px;
    border-radius: 30px;
    border: #8774FF 1px solid;
}
.continue:active{
    background-color: rgb(119, 119, 119);
}

/* @media screen and (min-width: 400px) {
    .how-to-play{
        border-radius: 40px;
    }
} */